<form action="/songs" method="POST">
  <input type="text" name="Name" id="Name">
  <input type="text" name="Artist Name">
  <% @genres.each do |genre| %>
    <input id= "<%= genre.name %>" type= "checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %>
  <% end %>
  <input type = "submit" value = "Create">
</form>
